@model Candy

<div class="card-candy">
    <img src="@Model.ImageThumbnailUrl" alt="@Model.Name" />
    <div class="card-candy-body">
        <h3>@Model.Name</h3>
        <h4>@Model.Price.ToString("c")</h4>
        <p>@Model.Description</p>

    </div>
    <div class="card-candy-footer">
        <a 
           asp-controller="ShoppingCart" 
           asp-action="AddToShoppingCart" 
           asp-route-candyId="@Model.CandyId"
           class="btn btn-primary">ADD</a>
        <a asp-controller="Candy" asp-action="Details" asp-route-id="@Model.CandyId" class="btn btn-success">DETAILS</a>
    </div>
</div>